<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>vehicle types</title>


 <div th:insert="comman/layout::links"></div>
 

</head>

<body onload="fetchTableData();" >

 <div th:insert=comman/layout::navbar></div>
 
  <div th:insert=comman/layout::sidebar1></div>
  
  <div th:insert=comman/layout::sidebar2></div>
  
 
	
    <!-- Main content -->
    
   <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>Vehicle Types</b></h3>
               
              </div>
               
              <!-- /.card-header -->
              <div class="card-body">
				  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-secondary">
		              vehicle Types
            </button>
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Vehicle Types</th>
                     <th>Action</th>
                   
                 </tr>
                  </thead>
                  <tbody id="mytable">
         
                  </tbody>
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

             
 
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    
    </section>
	</div>
	 <!-- end -->
	
	
	
	
	
	
	<!--    ************types of vehicle Model start************   -->
	
	    <div class="modal fade" id="modal-secondary">
        <div class="modal-dialog">
          <div class="modal-content bg-secondary">
            <div class="modal-header">
              <h4 class="modal-title">Vehicle Types</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form  id="add">
            <div class="modal-body">
				
				<div class="row">
					
				<!--	<div class="form-group col-md-12">   -->
						<lable><b>Vehicle Types</b></lable>
						<input type="text" name=" VehicleType"  class="form-control" required>
						
						
							
						</input>
				<!--	</div> -->
				</div>
				
   <!--			  <div class="row">
					
					<div class="form-group col-md-12">
						<lable><b>Service Type</b></lable>
						<select name="servicetype" id="servicetype" class="form-control" required>
							<option>--please select--</option>
							<option value="car"> Full Service</option>
							<option value="car"> Half Service</option>
							
							
						</select>
					</div>
				</div>  
				
				-->
            </div>
           
            <div class="modal-footer justify-content-between">
				 <button type="submit" class="btn btn-outline-light submit">Save</button>
           <!--   <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>  -->
             
            </div>
             </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
	
	<!--    ************types of vehicle Model end************   -->
	
	
	
	   <!--model edit start-->
	
		<div class="modal fade" id="exampleModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-warning text-center text-white">
						<h5 class="modal-title" id="Edit">Edit </h5>
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<form id="update">
							
							<div class="row">
					
				<!--	<div class="form-group col-md-12">   -->
						<lable><b>Vehicle Types</b></lable>
					<!--<input type="hidden" class="form-control" name="id" id="id2">-->	
						
						<select name=" VehicleType"  class="form-control" id="vehicletypes" required>	
							<option>--please select--</option>
							<option > Car</option>
							<option > Two Wheeler</option>
							<option > Auto Riksha</option>
							<option > Truck</option>
							<option > Bicycle</option>
							
							
						</select>
				<!--	</div> -->
				</div>
							
							
							<!--<div class="form-group">
								<label for="exampleAddress">Address</label>
								<input type="text" class="form-control" name="address" id="eaddress">
								<input type="hidden" class="form-control" name="id" id="id2">
							</div>-->
							
							
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-success submit">Update</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		</table>
		</div>

		</div>
		</div>
        
        <!--model edit end-->

	
	
	
	
		<div th:insert=comman/layout::mainscript></div>
	
	     <div th:insert=comman/layout::footer></div>
	     
	     
	     
	     	<script>
		
		//for fetch table data
		
		function fetchTableData() {
			//		alert('getting table data')

				$.ajax({
					type: "GET",
					dataType: "json",
					url: "/fetchTableDetails",
				
					data: {},

					success: function (data) {
						//console.log(data)
						//alert(VehicleType );
						var da = '';
						for (var i = 0; i < data.length; i++) {

							da += '<tr>' +
								'<td>' + data[i].id + '</td>' +
								'<td>' + data[i].vehicleType + '</td>' +
							
								'<td>' + '<a type="button"  data="' + data[i].id + '"  id="edit"  data-toggle="modal" data-target="#exampleModalUpdate" class="btn btn-secondary">Edit</a>      <a type="button" data1="' + data[i].id + '"  id="delete" class="btn btn-danger">Delete</a>' + '</td>' +
								'</tr>'
						}
						$('#mytable').html(da);
					},
					error: function () {

						alert("not working");
					}
				});

			}
		
		
		
		
		// for save 
			$(document).on('submit', '#add', function (e) {

			//console.log("data add" + e);
			//alert("00000000");
		


			$.ajax({
				method: "POST",
				url: '/saveVehicleTypes',
				data: new FormData(this),
				contentType: false,
				processData: false,
				cache: false,

				success: function (data) {
					alert("Save successfully!");
				},

				error: function () {
					alert("Not save");
				}

			});

		});
		
		
		
			// for deleting data
			$(document).on('click', '#delete', function () {
				
			//	alert("inside delete")
				var vehicleid = $(this).attr('data1');
				$.ajax({
					type: "GET",
					url: "/deleteById",
					data: {vehicleid: vehicleid},
					contentType: "application/json; charset=utf-8",

					success: function (response) {
						console.log(response);
						//alert("Are you sure to delete?")
						//alert("data deleted");
						fetchTableData();
					},

					error: function () {
						alert("not working");
					}
				});
			})
			
			
			//function for edit  data
				$(document).on('click', '#edit', function () {
             // alert("inside edit");
				var id = $(this).attr('data');

				$.ajax({
					type: "GET",
					dataType: "json",
					url: "/editVehicleById",
					contentType: "application/json; charset=utf-8",
					data: {id: id},

					success: function (data) {
						alert(data);
						console.log(data)
						$('#id2').val(data.id)
						$('#vehicletypes').val(data.vehicleType)
						
					},

					error: function () {

						alert("not working");
					}
				});
			})
			
			
			// function for edit /(updating/save data) 
			$(document).on('submit', '#update', function () {

				$.ajax({
					type: "POST",
					url: "/updateVehicleTypeDetails",
					data: new FormData(this),
					contentType: false,
					processData: false,
					cache: false,

					success: function (data) {
					//	alert("saving data");
						 fetchTableData() ;

					},
					error: function () {
						alert("not working"); 
					}

                        
				});
			})



	</script>

	
  

</body>

</html>