<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
   
   <div th:insert="comman/webindex::links"></div>
   <div th:insert="comman/webindex::mainscript"></div>
   
  </head>
  <body>
  <div th:insert="comman/webindex::header"></div>  
  <!--    <div th:insert="comman/webindex::navbar"></div>   -->
    
    
    
    
    	<!-- ======= About Section ======= -->
    	
		<section id="about" class="about">
			
			<div class="container" data-aos="fade-up">

				<div class="row">
					
					<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
						<img th:src="@{uploads/202304071428-alliant-vehicle.jpg}" class="img-fluid" alt="image not found">
				<!--		<img src="website/assets/img/about.jpg" class="img-fluid" alt="" >  -->
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
						data-aos-delay="100">
						
						<h3 th:text="${aboutus.header}"   >Logan Square Auto Repair is your #1 source for quick and reliable auto repair and
							maintenance services.</h3>
						<p class="fst-italic">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore
							magna aliqua.
						</p>
						<ul>
							<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</li>
							<li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate
								velit.</li>
							<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda
								mastiro dolore eu fugiat nulla pariatur.</li>
						</ul>
						<p th:text="${aboutus.description}">
							As your automotive repair technicians, your comfort and trust is our top priority. Our
							mechanics are all certified ASE certified car service experts, meaning they have undergone
							rigorous testing to prove their skills, and our one ASE Master Level certified technician is
							retested every five years.
						</p>
					</div>
				</div>

			</div>
			
			</div>
		</section>
		
		
		<!-- End About Section -->

    
    
    
    
    
    
    
    
    <div th:insert="comman/webindex::footer"></div>
	<div th:insert="comman/webindex::mainscript2">	</div>
  </body>
</html>