<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login </title>
   
   <div th:insert="comman/webindex::links"></div>
   <div th:insert="comman/webindex::mainscript"></div>
   
  </head>
  <body>
  <div th:insert="comman/webindex::header"></div>  
  <!--    <div th:insert="comman/webindex::navbar"></div>   -->
    
    
    
    
    	

    
    
    
    
    
    
    <div th:insert="comman/webindex::footer"></div>
	<div th:insert="comman/webindex::mainscript2">	</div>
  </body>
</html>