<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
   
   <div th:insert="comman/webindex::links"></div>
   <div th:insert="comman/webindex::mainscript"></div>
   
  </head>
  <body>
  <div th:insert="comman/webindex::header"></div>  
  <!--    <div th:insert="comman/webindex::navbar"></div>   -->
    
    
    <!-- ======= Services Section ======= -->
		<section id="services" class="services">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Services</h2>
					<p>Know More About Regular Service </p>
				</div>
				<!--	<p>When it comes to deal with reliable Auto Services in In India, We will be incorporated as top ranked Auto Service.</p> -->

				<div class="row">
					<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
						<div class="icon-box ">
								<img th:src="@{uploads/istockphoto.jpg}" class="img-fluid" alt="image not found">
						<!--	<div class="icon"><i class="bx bxl-dribbble"></i></div>  -->
							<h4><a href="">Oil Change </a></h4>
							<p>Changing the engine oil and oil filter to ensure proper engine lubrication and performance.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="icon-box">
								<img th:src="@{uploads/breakservice.jpg}" class="img-fluid" alt="image not found">
						<!--	<div class="icon"><i class="bx bxl-dribbble"></i></div>  -->
							<h4><a href="">Brake Service</a></h4>
							<p>Inspecting and replacing brake pads, brake rotors, and brake fluid to ensure proper braking performance.</p>
						</div>
					</div>   

				
					
					<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
						data-aos-delay="200">
						
						<div class="icon-box">
									<img th:src="@{uploads/air-conditioning.jpg}" class="img-fluid" alt="image not found">
						<!--	<div class="icon"><i class="bx bxl-dribbble"></i></div>  -->
							<h4><a href="">Air Conditioning Service</a></h4>
							<p>Inspecting and repairing the air conditioning system to ensure proper cooling performance.</p>
						</div>
					</div>  

					
					
				
					
					
				

				</div>  

			</div>
		</section><!-- End Services Section -->
    
    
    
    
    
    
    
    <div th:insert="comman/webindex::footer"></div>
	<div th:insert="comman/webindex::mainscript2">	</div>
  </body>
</html>
    		
 