<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services </title>
   
   <div th:insert="comman/webindex::links"></div>
   <div th:insert="comman/webindex::mainscript"></div>
   
  </head>
  <body>
  <div th:insert="comman/webindex::header"></div>  
  <!--    <div th:insert="comman/webindex::navbar"></div>   -->
    
    
    
    
    	

    <!-- ======= Services Section ======= -->
		<section id="services" class="services">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Services</h2>
					<p>Check our Services</p>
				</div>
				<!--	<p>When it comes to deal with reliable Auto Services in In India, We will be incorporated as top ranked Auto Service.</p> -->

				<div class="row">
					<div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
						<div class="icon-box ">
							<img th:src="@{uploads/images-fullser.jpg}" class="img-fluid" alt="image not found">
						<!--	<div class="icon"><i class="bx bxl-dribbble"></i></div>  -->
							<h4><a href="full_service">Full Service</a></h4>
							<p>RK Crane Services has the experience Car Towing Service in Delhi</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
						data-aos-delay="200">
						<div class="icon-box">
						<img th:src="@{uploads/regularservice.jpg}" class="img-fluid" alt="image not found">
						<!--	<div class="icon"><i class="bx bxl-dribbble"></i></div>  -->
							<h4><a href="regular_service">Regular Service</a></h4>
							<p>Car Towing Service in Noida, with an assurance of safe handling of the car.</p>
						</div>
					</div>   

			<!--	<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
						data-aos-delay="300">
						<div class="icon-box">
							<div class="icon"><i class="bx bx-tachometer"></i></div>
							<h4><a href="">Major Repair</a></h4>
							<p>We can Repair your Vehicle anywhere in the Delhi.</p>
						</div>
					</div>  -->

			<!--		<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
						data-aos-delay="100">
						<div class="icon-box">
							<div class="icon"><i class="bx bx-world"></i></div>
							<h4><a href="">Motorcycle Towing</a></h4>
							<p>We have top notch security and loads of space.</p>
						</div>
					</div>   -->

				<!--	<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
						data-aos-delay="200">
						
						<div class="icon-box">
							<img th:src="@{uploads/202303201514-ram-live-wallpaper.jpg}" class="img-fluid" alt="image not found">
							<div ><i class="bx bx-slideshow"></i></div>
							<h4><a href="">Battery Jumpstart</a></h4>
							<p>We have been in this line for the past 10 years</p>
						</div>
					</div>  -->

				<!--	<div class="col-lg-6 col-md-2 d-flex align-items-stretch mt-4 " data-aos="zoom-in"
						data-aos-delay="300">
						<div class="icon-box">
							<div class="icon"><i class="bx bx-arch"></i></div>
							<h4><a href="">Regular Service</a></h4>
							<p>We are a preferred end-to-end vehicle care</p>
						</div>
					</div>

				</div>   -->

			</div>
		</section><!-- End Services Section -->
    
    
    
    
    
    
    
    <div th:insert="comman/webindex::footer"></div>
	<div th:insert="comman/webindex::mainscript2">	</div>
  </body>
</html>